<mat-card>
  <form (submit)="onCreatePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" #title="ngModel" placeholder="Post Title" ngModel required>
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="10" name="content" #content="ngModel" placeholder="Post Content" ngModel required></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
